.wrapper {
  text-transform: capitalize;
  color: #3b3b3b;
}


.EventCard_title {
  position: absolute;
  right: 15px;
  bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.EventCard_image {
  position: relative;
  background: url('../../../assets/images/faraya.jpg')no-repeat center center/cover;
  width: 100%;
  height: 200px;
  border-top-right-radius: 30px !important;
  border-bottom: 6px solid #A8C2CA;
}

.overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, .1);
  border-top-right-radius: 30px;
}

.EventCard_container {
  color: #000000;
  font-size: 0.8rem;
  margin-top: 15px;
  padding-left: 15px;
}


.fa-map-marker,
.fa-calendar,
.fa-users,
.fa-dollar {
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  width: 20px;
}

.EventCard_info {
  margin-right: 18px;
}

@media all and (max-width: 752px) {
  .EventSection_m_mt10 {
    margin-top: 10px;
  }
}

.EventCard_moreInfo,
.EventCard_register {
  color: #4a4a4a;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: fit-content;
  background: #A8C2CA;
  text-align: center;
  z-index: 5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 7px 10px #555;
}



.EventCard_register label {
  display: block;
}

.EventCard_register input {
  margin-bottom: 10px;
}

.EventCard_register button {
  margin-top: 10px;
  padding: 7px;
  border-radius: 10px;
  width: 40%;
  font-weight: bold;
}

.EventCard_exitIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
}

.EventCard_status {
  background: rgb(71, 156, 71);
  color: #fff;
  padding: 5px;
  margin: 10px 0;
  font-size: 0.9em;
  text-align: center;
  animation: fadeIn 1s linear;
  box-shadow: 0 4px 4px rgb(71, 156, 71);
}

.EventCard_error {
  background: rgb(175, 3, 3);
  color: #fff;
  padding: 5px;
  margin: 10px 0;
  font-size: 0.9em;
  text-align: center;
  animation: fadeIn 1s linear;
  box-shadow: 0 4px 4px rgb(175, 3, 3);
}

.delete_status {
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  font-size: 1.1em;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }

  ;

  to {
    opacity: 1
  }

  ;
}